
body {
    padding: 0;
    margin: 0;
    background: white;
}

#barraarriba{
    background-color: #a0c0a0;
}
.general{
    background: #093741;
}



.fondo{
    background-image: url("img/logon.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.hero {
    font-family: fantasy;
    font-size: 50px;
background-image: url('../img/fondo.jpg');
    height:50vh;
    width: 100%;
    background-size: cover;
}

#pie{
    background-color: #a0c0a0;
}


.tipos-carnet .card {
    border: none;
}

.tipos-carnet .card img {
    border-radius: 1rem;
}

.tipos-carnet .card span {
    /*Para que el botón baje*/
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid #eee;
}

.tipos-carnet .card span del {
    margin-left: 0.5rem;
}